:root{
    --colorFondo: rgba(67, 38, 223, 0.8);
    --colorTexto: rgb(219, 218, 227);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--colorFondo);
}
.titulo{
    text-align: center;
    font-size: 10rem;
    letter-spacing: 0.1rem;
    color: var(--colorTexto);
    filter: brightness(1.1);
}

.contenedorInput{
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedorInput div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.input{
    width: 25rem;
    border: none;
    border-bottom: 0.2rem solid black;
    background-color: transparent;
    padding: 0.2rem;
}

label{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--colorTexto);
}

.boton{
    border: 0.2rem solid var(--colorTexto);
    background-color: transparent;
    border-radius: 1rem;
    padding: 0.4rem;
    color: var(--colorTexto);
    letter-spacing: 0.07rem;
}

.boton:hover{
    background-color: rgba(219, 218, 227, 0.2);
}

.boton:active{
    background-color: rgba(219, 218, 227, 0.5);
}

.contenedorImagenesMiniatura{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.imagenesMiniatura, .galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.contenedorImagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20rem;
    height: auto;
    gap: 0.5rem;
}

.contenedorImagen div{
    display: flex;
    gap: 1rem;
}

.imagen{
    width: 100%;
    border-radius: 0.2rem;
}

.galeria{
    padding-bottom: 2rem;
}

.desplegarDetalles{
    display: flex;
    z-index: 2;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 10rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.607);
    color: var(--colorTexto);
}

.imagenDetalle{
    width: 50%;
    height: auto;
    border-radius: 0.2rem;
}

@keyframes delete {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.contenedorEliminado{
    animation: delete 1s ease 1 forwards;
}

@keyframes add {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.contenedoragregado{
    animation: add 1s ease 1 forwards;
}